<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />       
        
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://neptune.fulton.ad.asu.edu/WSRepository/Services/Web2StringSVC/service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="IService" name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:51723/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="IService"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>
